/*
 * ZPix Gradio app custom styles.
 */

.blurred {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

#tou-row {
    position: fixed;
    inset: 0;
    place-content: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

/*
 * Gradio CSS classes and variables are subject to
 * change in future versions; but since we pinned
 * a Gradio version, this shouldn't be an issue...
 */

#tou-card {
    max-width: 360px;
    padding: 1rem;
    background: var(--block-background-fill);
    border-radius: 5px;
    text-align: center;
}

.sidebar {
    max-width: 48px;
}

.sidebar img {
    max-width: unset;

    height: 34px;
    width: 34px;
}

.sidebar .hide-container,
.sidebar .form {
    display: none;
}

#prompt .upload-button {
    display: none;
}

#prompt textarea {
    overflow-y: hidden !important;
    height: auto !important;
    field-sizing: content;
}

#reference-images textarea {
    display: none;
}

#reference-images .upload-button svg {
    display: none;
}

#reference-images .upload-button {
    min-height: var(--size-9);
    height: stretch; /* Adapt to thumbnail height */
    background-image: url("/gradio_api/file=assets/gray_plus.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#reference-images .thumbnail-item {
    width: var(--size-32);
    height: var(--size-32);
}

#reference-images .thumbnail-image {
    object-fit: contain;
}

#example-prompts p {
    font-size: var(--text-md);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

#used-prompt .icon-button-wrapper {
    padding: 4px;
}

#used-prompt .custom-button { /* Reuse button */
    height: stretch;
    background-image: url("/gradio_api/file=assets/cycle_for_light.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.dark #used-prompt .custom-button {
    background-image: url("/gradio_api/file=assets/cycle_for_dark.svg");
}

#used-prompt .custom-button-label {
    display: none;
}

#used-prompt textarea {
    background: transparent;
    padding: .7em 0 0;
    mask-image: linear-gradient(to bottom, white 70%, transparent);
    overflow-y: hidden !important;
}

#gallery {
    height: 82vh;
}

#gallery .icon-button:nth-child(2) {
    display: none; /* Hide "Close" preview button */
}

#gallery .caption {
    display: none; /* Caption remains visible as tooltip */
}

#gallery .thumbnails {
    bottom: 1.2vh;
}

#gallery .thumbnail-item {
    border: none;
    box-shadow: unset;
    transform: unset;
    width: var(--size-16);
    height: var(--size-16);
}

#gallery .thumbnail-item:focus-visible {
    outline: none;
}

#delete-output-image-btn {
    max-width: 33%;
    margin-right: auto;
}

#open-output-folder-btn {
    max-width: 33%;
    margin-left: auto;
}

footer .divider {
    display: none;
}